{{ 'video-banner-section.css' | asset_url | stylesheet_tag }}
<div class="video-banner">
  <div class="video-banner__video">
    <video autoplay loop muted playsinline poster="{{ section.settings.placeholder_image }}">
      <source src="{{ section.settings.video_url }}" type="video/mp4">
    </video>
  </div>
  <div class="video-banner__content page-width"> 
    <div class="max-width-700">
      <h1 class='txt-wht'>{{ section.settings.heading }}</h1>
      <p class="subtitle txt-wht">{{ section.settings.subheading }}</p>
      {% if section.settings.link_url != blank %}
        <a href="{{ section.settings.link_url }}" class="button button--seccondary btn-wht">{{ section.settings.link_title }}</a>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
"name": "Video Banner",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Your Heading"
},
{
"type": "textarea",
"id": "subheading",
"label": "Subheading",
"default": "Your subheading goes here"
},
{
"type": "url",
"id": "video_url",
"label": "Video URL",
"info": "Paste the URL of your video (MP4 format recommended)"
},
{
"type": "image_picker",
"id": "placeholder_image",
"label": "Placeholder Image",
"info": "Choose an image to display as a placeholder for the video"
},
{
"type": "url",
"id": "link_url",
"label": "Link URL"
},
{
"type": "text",
"id": "link_title",
"label": "Link Title",
"default": "Learn More"
}
],
"presets": [
{
"name": "Video Banner",
"category": "Video"
}
]
}
{% endschema %}